.img1 {
  height:174.69px;
 
}
/* sections */
body{
  background-color:#000000;
 
}
.navbar{
  background-color:#279DAA;
 
}
h4{
  font-family: "Cabin", sans-serif;
  font-weight: 700;
}
a{
  font-family: "Cabin", sans-serif;
  font-weight: 700;
}
p{
  font-size: 10px;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}
.card{
  height: 290px;
  margin: 0%;
  padding: 0%;
}

/* 
#navbar {
  overflow: hidden;
  background-color: #333;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
} */






@media (max-width: 767.98px) {
  .first-section {
    margin:0px 37px;
  }

  .parrafo-uno {
    text-align: center;
    font-size: 25px;
    width: 100%;
  }
  .parrafo-dos {
    font-size: 16px;
  }
  .second-section {
    text-align: center;
  }
  .button-container {
    display: flex;
    flex-direction: row;
}
.recipe{
  margin: 0px;
}
.firts-btn{
  font-size: 10px;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  color: #373a3c;
}
.recipe {
  margin:0px 37px;
}
.button-text{
  margin-bottom:95px ;
  width: 100%;
}
.email-container{
  padding:70px 37px 10px 37px ;
}
.newletter-title{
  font-size: 30px;
}
.newletter-paragraph{
  font-size: 20px;
}
span{
  font-size:20px;
}
.other-recipe{
  margin: 0px 37px;
  align-items: center;
}
.related-recipes{
  font-size: 25px;
}
.card{
  width: 100%!important;
}


}